<!DOCTYPE html>
<html>
<head>
<title>index</title>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
<link href="css/ionic.min.css" rel="stylesheet">
<link href="css/calendar.min.css" rel="stylesheet">
<link href="css/ion-datetime-picker.min.css" rel="stylesheet">
<style>
body {
    cursor: url('http://www.runoob.com/static/img/finger.png'), auto;
}
</style>

</head>

<body ng-app="starter">
    <ion-nav-bar class="bar-positive" > <ion-nav-back-button>
    </ion-nav-back-button> </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <script id="templates/tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Calendar" icon="ion-calendar" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Reservation" icon="ion-clock" href="#/tab/about">
            <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Me" icon="ion-ios-person" ui-sref="tabs.contact">
            <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</script>

    <script id="templates/home.html" type="text/ng-template">
    <ion-view>
        <ion-nav-buttons side="left"><button class="button button-clear">{{viewTitle}}</button></ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a href="#/aevent"><button class="button" >Add</button></a>
            <button class="button" ng-disabled="isToday()" ng-click="today()">Today</button>
            <button class="button" ng-click="changeMode('month')">M</button>
            <button class="button" ng-click="changeMode('week')">W</button>
            <button class="button" ng-click="changeMode('day')">D</button>
            <!--<button class="button" ng-click="loadEvents()">Load Events</button>-->
        </ion-nav-buttons>

        <ion-content scroll="false" class="main-content">
            <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
                      time-selected="onTimeSelected(selectedTime, events)" step="30"></calendar>
        </ion-content>
    </ion-view>
</script>

    <script id="templates/about.html" type="text/ng-template">
    <ion-view view-title="Reservations">
        <ion-content>
            <div class="list">
                 <div class="item">
                    <p>ASN: 123456</p><br>
                    <p>Appointment: 2016-8-26 10:30 -- 2016-8-26 12:30</p><br>
                    <button class="button button-small button-light" style="background:#387EF5;color:white;">Update</button>
                    <button class="button button-small button-light" style="background:red;color:white;">Delete</button>
                 </div>
                 
                 <div class="item">
                    <p>ASN: 123456</p><br>
                    <p>Appointment: 2016-8-26 10:30 -- 2016-8-26 12:30</p><br>
                    <button class="button button-small button-light" style="background:#387EF5;color:white;">Update</button>
                    <!--<button class="button button-small button-light" style="background:red;color:white;">Delete</button>-->
                 </div>

                 <div class="item">
                    <p>ASN: 123456</p><br>
                    <p>Appointment: 2016-8-26 10:30 -- 2016-8-26 12:30</p><br>
                    <button class="button button-small button-light" style="background:#CDCDCD;color:white;">Update</button>
                    <!--<button class="button button-small button-light" style="background:red;color:white;">Delete</button>-->
                 </div>

                 <div class="item">
                    <p>ASN: 123456</p><br>
                    <p>Appointment: 2016-8-26 10:30 -- 2016-8-26 12:30</p><br>
                    <button class="button button-small button-assertive" style="color:white;">Rate</button>
                    <!--<button class="button button-small button-light" style="background:red;color:white;">Delete</button>-->
                 </div>
            </div>
        </ion-content>
    </ion-view>
</script>

    <script id="templates/contact.html" type="text/ng-template">
    <ion-view title="Me">
        <ion-content>
            <div class="list">
                <div class="item">
                    <img src="images/profile.png" style="width:70px;height:70px;float:left;">
                    <div style="margin-left:100px;margin-top:25px;">
                         <p style="font-size:25px;">Pactera</p>
                    </div>
                </div>
                
                <div class="item item-divider"></div>

                <div class="item item-icon-left item-icon-right">
                    <i class="icon ion-ios-copy-outline"></i>
                    Edit Information
                    <i class="icon ion-ios-arrow-right"></i>
                </div>

                <div class="padding" style="margin-top:28px;">
                 <button class="button button-block button-assertive">Log Out</button>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>

    <script id="templates/addEvent.html" type="text/ng-template">
     <ion-view title="New Reservation" >

<!--<ion-nav-buttons side="left" >
  <a href="javascript:history.back(-1)"  class="button button-icon icon ion-ios-arrow-left" nav-direction="back">Back</a>
</ion-nav-buttons>-->

        <ion-nav-buttons side="left" >
              <a href="#/tab/home"  class="button button-icon icon ion-ios-arrow-left" nav-direction="back">Back</a>
        </ion-nav-buttons>

        <ion-content>
            <div class="list list-inset">
              <label class="item item-input" style="outline:none;">
                 <input type="text" placeholder="ASN" >
              </label>
              <label class="item item-input">
                 <input type="text" placeholder="Quantity/Pallet">
              </label>
            </div>
            <div class="list">
                 <div class="item item-icon-left" ion-datetime-picker monday-first ng-model="datetimeValue">
                       <i class="icon ion-ios-calendar-outline positive"></i>
                       Start with:
                       <strong>{{datetimeValue| date: "yyyy-MM-dd H:mm"}}</strong>
                 </div>
        
                 <div class="item item-icon-left" >
                       <i class="icon ion-ios-calendar-outline positive"></i>
                       End with:
                       <strong>{{datetimeValue| date: "yyyy-MM-dd H:mm"}}</strong>
                 </div>
            </div>
            <div class="padding">
               <a href="#/qrcode"><button class="button button-block button-positive">Next</button></a>
            </div>
        </ion-content>

     </ion-view>
</script>

    <script id="templates/qrcode.html" type="text/ng-template">
    <ion-view title="QRCode">
        <ion-nav-buttons side="right" >
            <a href="#/tab/home"  class="button button-icon " >Done</a>
        </ion-nav-buttons>

        <ion-content >
 
                <img src="images/123.png" style=" position:absolute;left: 0;right: 0;margin:0 auto;top:50%;transform:translateY(-0%);">

             <!--<div class="padding" style="float:left;">
               <a href="#/tab/home"><button class="button button-block button-positive">Done</button></a>
            </div>-->
        </ion-content>
    </ion-view>
</script>

    <script src="js/ionic.bundle.min.js"></script>
    <script src="js/calendar-tpls.js"></script>
    <script src="js/ion-datetime-picker.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
