<!DOCTYPE html>
<html>
<head>
<title>index</title>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
<link href="css/ionic.min.css" rel="stylesheet">
<link href="css/calendar.min.css" rel="stylesheet">
<link href="css/ion-datetime-picker.min.css" rel="stylesheet">
<style>
body {
    cursor: url('http://www.runoob.com/static/img/finger.png'), auto;
}
</style>

</head>

<body ng-app="starter">
    <ion-nav-bar class="bar-positive"> <ion-nav-back-button>
    </ion-nav-back-button> </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <script id="templates/tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Calendar" icon="ion-calendar" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Reservation" icon="ion-clock" href="#/tab/about">
            <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Me" icon="ion-ios-person" ui-sref="tabs.contact">
            <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</script>

    <script id="templates/home.html" type="text/ng-template">
    <ion-view view-title={{viewTitle}}>
        <ion-nav-buttons side="right">
            <!--<button class="button" ion-datetime-picker ng-model="datetimeValue">Add</button>-->
            <a href="#/aevent"><button class="button" >Add</button></a>
            <button class="button" ng-disabled="isToday()" ng-click="today()">Today</button>
            <button class="button" ng-click="changeMode('month')">M</button>
            <button class="button" ng-click="changeMode('week')">W</button>
            <button class="button" ng-click="changeMode('day')">D</button>
            <button class="button" ng-click="loadEvents()">Load Events</button>
        </ion-nav-buttons>

        <ion-content scroll="false" class="main-content">
            <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
                      time-selected="onTimeSelected(selectedTime, events)" step="30"></calendar>
        </ion-content>
    </ion-view>
</script>

    <script id="templates/about.html" type="text/ng-template">
    <ion-view view-title="Reservations">
        <ion-content>
            <div class="list">
                 <div class="item">
                    @IonicFramework
                </div>

            </div>
        </ion-content>
    </ion-view>
</script>

    <script id="templates/contact.html" type="text/ng-template">
    <ion-view title="Contact">
        <ion-content>
            <div class="list">
                <div class="item">
                    @IonicFramework
                </div>
                <div class="item">
                    @DriftyTeam
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>

    <script id="templates/addEvent.html" type="text/ng-template">
     <ion-view title="New Reservation" >

<ion-nav-buttons side="left" >
  <a href="javascript:history.back(-1)"  class="button button-icon icon ion-ios-arrow-left" nav-direction="back">Back</a>
</ion-nav-buttons>

        <ion-content>
            <div class="list list-inset">
              <label class="item item-input" style="outline:none;">
                 <input type="text" placeholder="ASN" >
              </label>
              <label class="item item-input">
                 <input type="text" placeholder="Quantity/Pallet">
              </label>
            </div>
            <div class="list">
                 <div class="item item-icon-left" ion-datetime-picker monday-first ng-model="datetimeValue">
                       <i class="icon ion-ios-calendar-outline positive"></i>
                       Start with:
                       <strong>{{datetimeValue| date: "yyyy-MM-dd H:mm"}}</strong>
                 </div>
        
                 <div class="item item-icon-left" >
                       <i class="icon ion-ios-calendar-outline positive"></i>
                       End with:
                       <strong>{{datetimeValue| date: "yyyy-MM-dd H:mm"}}</strong>
                 </div>
            </div>
            <div class="padding">
               <a href="#/qrcode"><button class="button button-block button-positive">Next</button></a>
            </div>
        </ion-content>

     </ion-view>
</script>

    <script id="templates/qrcode.html" type="text/ng-template">
    <ion-view title="QRCode">
        <ion-nav-buttons side="right" >
            <a href="#/tab/home"  class="button button-icon " >Done</a>
        </ion-nav-buttons>

        <ion-content >
 
                <img src="images/123.png" style=" position:absolute;left: 0;right: 0;margin:0 auto;top:50%;transform:translateY(-0%);">

             <!--<div class="padding" style="float:left;">
               <a href="#/tab/home"><button class="button button-block button-positive">Done</button></a>
            </div>-->
        </ion-content>
    </ion-view>
</script>

    <script src="js/ionic.bundle.min.js"></script>
    <script src="js/calendar-tpls.js"></script>
    <script src="js/ion-datetime-picker.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
